
{% extends "layout.html" %}

{% block css %}
<style>
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}
#landing-image {
    padding: 0px;
    position: relative;
}
#landing-image img {
    position: relative;
    width: 100%;
}
#landing-image h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#landing-image h2 span {
    color: white;
    font: bold 24px Helvetica;
    letter-spacing: -1px;
    background: rgba(0,0,0,0.7);
    padding: 10px;
}
#landing-text-row {
    text-align: center;
    font-size: 1.3em;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 3px;
    text-transform: uppercase;
}
#landing-subpanel-left {
    position: relative;
    padding: 0;
}
#landing-subpanel-left img {
    position: relative;
    width: 100%;
    height: 420px
}
#landing-subpanel-right {
    position: relative;
    padding: 0;
}
#landing-subpanel-right img {
    position: relative;
    width: 100%;
    height: 420px;
}
#landing-subpanel-left:hover img {
    filter: grayscale(50%);
}
#landing-subpanel-right:hover img {
    filter: grayscale(50%);
}
.filtered {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.header-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.span-overlay {
    text-align: center;
    font-size: 1.3em;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: white;
}
.social-grid-panel {
    text-align: center;
    min-height: 150px;
    padding-top: 50px
    /*background-color: tan;*/
}
.social-grid-panel:hover {
    background-color: rgba(0,0,0,0.1)
}
</style>
{% endblock %}

{% block content %}
<div class="col-md-12 col-sm-12" id="landing-image">
    <img src="{{ asset_url_for('img/sa-brewery-tour.png') }}" class="image-responsive">
    <h2><span>Sunday Morning Brewing</span></h2>
</div>

<div class="col-md-12" id="landing-text-row">
    <h4>Beer Brewed Religiously</h4>
</div>

<div class="col-md-6" id="landing-subpanel-left">
    <img src="{{ asset_url_for('img/homebrew-ingredients.jpg') }}" class="img-responsive filtered">
    <h3 class="header-overlay"><span class="span-overlay">Brew With Us</span></h3>
</div>

<div class="col-md-6" id="landing-subpanel-right">
    <a href="{{ url_for('beers.index') }}">
        <img src="{{ asset_url_for('img/beer-toast.jpg') }}" class="img-responsive filtered">
        <h3 class="header-overlay"><span class="span-overlay">Our Beers</span></h3>
    </a>
</div>

<div class="col-md-12" id="landing-text-row">
    <h4>Connect with us</h4>
</div>
<div class="row" id="social-grid">
    <div class="col-md-3 social-grid-panel">
        <i class="fa fa-facebook fa-5x" aria-hidden="true"></i>
        <p>Facebook</p>
    </div>
    <div class="col-md-3 social-grid-panel">
        <i class="fa fa-twitter fa-5x" aria-hidden="true"></i>
        <p>Twitter</p>
    </div>
    <div class="col-md-3 social-grid-panel">
        <i class="fa fa-instagram fa-5x" aria-hidden="true"></i>
        <p>Instagram</p>
    </div>
    <div class="col-md-3 social-grid-panel">
        <img src="{{ asset_url_for('img/untappd-icon.png') }}" style="height: 55px; width: auto; filter: grayscale(100%); --webkit-filter: grayscale(100%)">
        <p>Untappd</p>
    </div>
</div>

{% endblock %}
