
{% extends "layout.html" %}
{% block content %}
<div class="container-narrow">
  <h1>Login</h1>
    <br/>
    <form id="logInForm" class="form" method="POST" action="/login" role="form">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="form-group">
                {{form.username.label}}
                {{form.username(placeholder="Username", class_="form-control")}}
            </div>
            <div class="form-group">
                {{form.password.label}}
                {{form.password(placeholder="Password", class_="form-control")}}
            </div>
            <p><input class="btn btn-default btn-submit" type="submit" value="Register"></p>
    </form>
</div>
{% endblock %}
