{% extends "layout.html" %}

{% block header %}
<div class="page-header">
    <h1>Our Beers</h1>
</div>
{% endblock %}

{% block css %}
<style type="text/css">
.beer-tile-container {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    /*height: 300px;*/
    justify-content: center;
    flex-wrap: wrap;
}
.beer-tile {
    height: 300px;
    width: 300px;
    margin: 10px;
    overflow-y: hidden;
    flex-shrink: 0;
}

.beer-tile img {
    -webkit-mask-image: -webkit-linear-gradient(top, rgba(0,0,0,1), rgba(0, 0, 0, .8), rgba(0, 0, 0, .8),rgba(0,0,0,0));
    height: 150px;
    width: auto;
    position: relative;
}

.beer-tile .thumbnail-badge {
    position: absolute;
    z-index: 1;
}
.beer-tile .caption {
    text-align: center;
}

.beer-tile p {
    font-weight: 400;
    line-height: 1;
    color: #777;
}
</style>
{% endblock %}

{% block content %}

<div class="beer-tile-container">
    {% for beer in beers %}
    {% if not beer.seasonal %}
    <div class="beer-tile">
        <div class="thumbnail">
            <img src="{{ asset_url_for('img/pintglass.jpg') }}">
            <div class="caption">
                <h3>{{ beer.name }}</h3>
                <p>{{ beer.style }}</p>
                <p>ABV {{beer.abv}}%    IBU {{beer.ibu}}</p>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>

<div class="page-header">
    <h1>Seasonal Beers</h1>
</div>

<div class="beer-tile-container">
    {% for beer in beers %}
    {% if beer.seasonal %}
    <div class="beer-tile">
        <div class="thumbnail">
            {% if beer.available %}
            <span class="label label-info thumbnail-badge">Available Now</span>
            {% endif %}
            <img src="{{ asset_url_for('img/pintglass.jpg') }}">
            <div class="caption">
                <h3>{{ beer.name }}</h3>
                <p>{{ beer.style }}</p>
                <p>ABV {{beer.abv}}%    IBU {{beer.ibu}}</p>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>

{% endblock %}
