{% extends "layout.html" %}

{% block css %}
<style>
#brew-day-control-panel button {
    text-align: center;
}
.step-number {
    margin-right: 5px;
}
.direction-list-item-body {
    /*border-top-right-radius: 10px;*/
    border: 1px #ddd solid;
    box-shadow: none;
    background-color: #fff;
    padding: 15px;
    display: flex;
}
.direction-list-item-header {
    border-top-right-radius: 10px;
    background-color: #f7f7f9;
    border:1px #ddd solid;
    border-bottom: 0px;
    /*display: flex;*/
    padding-top: 10px;
    padding-bottom: 10px;
}
.direction-list-item-header h4 {
    margin: 0px;
}
.direction-list-item p {
    margin-bottom: 0px;
}
.direction-list-item-footer {
    background-color: #f7f7f9;
    border: 1px #ddd solid;
    border-top: 0px;
    border-bottom-left-radius: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.direction-list-item-footer small {
    font-size: 11px;
    line-height: 22px;
    font-weight: 500;
    text-transform: uppercase;
}
#timer-heading {
    margin-right: 50px;
}
</style>
{% endblock %}

{% block header %}
<div class="page-header">
    <div class="btn-toolbar pull-right">
        <div class="btn-group">
            <button type='button' class='btn btn-info dropdown-toggle' id='beer-select-dropdown' data-toggle='dropdown'>
                Select A Recipe
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
                {% for recipe in recipes %}
                <li><a href="#" class="recipe-name-link" data-recipeid="{{ recipe.id }}">{{ recipe.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <h3 class="pull-right" id="timer-heading">Recipe Timer: <span class="label label-success" id="timer-span"></span></h3>
    <h1>Brew Day <small id="recipe-name-header" data-recipeid=""></small></h1>
</div>
{% endblock %}

{% block content %}
<div class="alert alert-warning alert-dismissible hidden" role="alert" id="ingredient-warning-alert">
  <button type="button" id="ingredient-warning-dismiss" class="close"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Warning!</strong> It looks like you don't have all the ingredients needed for this recipe!
</div>
<div class="col-md-3">
    <table class="table table-condensed" id="hop-list-table">
        <tr>
            <th>Hops</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th><small>Name</small></th>
            <th><small>Time</small></th>
            <th><small>Need</small></th>
            <th><small>Available</small></th>
        </tr>

    </table>

    <table class="table table-condensed" id="mashbill-table">
        <tr>
            <th>Mashbill</th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th><small>Name</small></th>
            <th><small>Need</small></th>
            <th><small>Available</small></th>
        </tr>

    </table>

    <table class="table table-condensed" id="additive-table">
        <tr>
            <th>Additives</th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th><small>Name</small></th>
            <th><small>Need</small></th>
            <th><small>Available</small></th>
        </tr>

    </table>
</div>

<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Directions</h3>
        </div>
        <div class="panel-body" id="direction-panel-body">

        </div>
    </div>
</div>

<div class="col-md-3">
    <div class="list-group" id="brew-day-control-panel">
        <button type="button" class="list-group-item" id="brew-start-btn">Start Brewing</button>
        <button type="button" class="list-group-item">Stop Brewing</button>
        <button type="button" class="list-group-item">Modify Recipe</button>
        <button type="button" class="list-group-item" data-toggle="modal" data-target="#abv-modal">ABV Calculator</button>
    </div>

    <table class="table table-condensed" id="recipe-stat-table">
        <tr>
            <th>Batch Size</th>
            <td id="recipe-batch-size" class="recipe-stat-cell"></td>
        </tr>
        <tr>
            <th>Method</th>
            <td id="recipe-method" class="recipe-stat-cell"></td>
        </tr>
        <tr>
            <th>Target OG</th>
            <td id="recipe-target-og" class="recipe-stat-cell"></td>
        </tr>
        <tr>
            <th>Target FG</th>
            <td id="recipe-target-fg" class="recipe-stat-cell"></td>
        </tr>
        <tr>
            <th>Target SRM</th>
            <td id="recipe-target-srm" class="recipe-stat-cell"></td>
        </tr>
        <tr>
            <th>Target ABV</th>
            <td id="recipe-target-abv" class="recipe-stat-cell"></td>
        </tr>
        <tr>
            <th>Target IBU</th>
            <td id="recipe-target-ibu" class="recipe-stat-cell"></td>
        </tr>
        <tr>
            <th>Recipe ID</th>
            <td id="recipe-id" class="recipe-stat-cell"></td>
        </tr>
    </table>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="abv-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Calculate ABV</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="inputOG" class="col-sm-2 control-label">Original Gravity</label>
                        <div class="col-sm-10">
                            <input type="number" step=".001" class="form-control" id="inputOG" placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputFG" class="col-sm-2 control-label">Final Gravity</label>
                        <div class="col-sm-10">
                            <input type="number" step=".001" class="form-control" id="inputFG" placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputABV" class="col-sm-2 control-label">Alcohol By Volume</label>
                        <div class="col-sm-10">
                            <input type="number" step=".001" class="form-control" id="inputABV" placeholder="">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="abv-save-btn">Save Values</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}

{% block js %}
<script>
function startBrewTimer(start_time, minutes, target_date) {
    var myScope = this;
    this.minutes = minutes;

    // console.log("Attempting to create brew timer with target date " + target_date + " with " + minutes + " min duration");
    var countdownDate = new Date(target_date).getTime();
    // console.log('Current minute mark: ' + new Date().getMinutes() + " minutes past the hour" );

    var x = setInterval(function() {

        var now = new Date().getTime();
        console.log("Calculating difference in countdownDate "+countdownDate+" and now "+now+" = " + (countdownDate-now));
        var distance = countdownDate - now;
        console.log("Distance: " + distance + " milliseconds");
        // console.log("Minutes to convert: " + myScope.minutes);
        // var remaining = getMinutesFromMilli(minutes-distance);  // convert minutes to seconds
        // console.log("Found time remaining: " + remaining.toString())

        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        $('#timer-span').text(hours+':'+minutes+':'+seconds);

        if ( distance < 0 ) {
            clearInterval(x);
            $('#timer-span').text('EXPIRED');
            console.log("Attempting to set timer expired");
            $.post({
                url: '/api/v1/brewtimer',
                data: {'expired': true},
                dataType: 'json'
            })
              .done(function(data) {
                  console.log("Updated timer " + data['id'] + " as expired");
              })
        }
    },1000);
}

function calcABV(og=null, fg=null, abv=null) {
    // see if we're looking for abv first
    if (og && fg) {
        return ((og - fg)*131.25).toPrecision(3);
    }
    // assume abv is given if og is given
    if (og) {
        return ((abv/131.25)-og)*-1
    }
    // assume abv is given if fg is given
    if (fg) {
        return ((abv/131.25)+fg)
    }
    return '0'
}

function showIngredientWarning() {
    var alertBar = $('#ingredient-warning-alert');
    alertBar.removeClass('hidden');
}

function fillInStats(json) {
    console.log("Filling in recipe stats...");
    var statTable = $('#recipe-stat-table');

    $('.recipe-stat-cell').text('');

    $('#recipe-batch-size').text(json['batch_size'] + "gal");

    var methodTxt = json['method'];
    switch( methodTxt ) {
        case 'all-grain':
            $('#recipe-method').text('All Grain');
            break;
        case 'biab':
            $('#recipe-method').text('Brew In A Bag');
            break;
        case 'partial':
            $('#recipe-method').text('Partial Mash');
            break;
        case 'extract':
            $('#recipe-method').text('Extract');
    }

    $('#recipe-target-og').text(json['target_og']);
    $('#recipe-target-fg').text(json['target_fg']);
    $('#recipe-target-srm').text(json['target_srm']);
    $('#recipe-target-abv').text(json['target_abv'] + "%");
    $('#recipe-target-ibu').text(json['target_ibu']);
    $('#recipe-id').text(json['id']);
}

function fillInDirections(steps) {
    console.log("Inserting step by step directions..");

    $('.direction-list-item').remove();

    for (var i = 0; i < steps.length; i++) {
        var curStep = steps[i];

        var stepTime = '0';
        if ( curStep['time'] != null ) { stepTime = curStep['time'] };
        var headerTime = '<span class="label label-info pull-right stage-'+curStep['stage']+'">Step Time: '+stepTime+'mins</span>'

        var stepHeader = `
        <div class="direction-list-item-header col-md-12">
        <h4>`+curStep['stage']+` - Step `+(i+1)+headerTime+`</h4>
        </div>
        `
        var startTag = '<div class="direction-list-item-body">';
        // var stepNum = '<p class="pull-left step-number"><b>'+i+'.</b></p>';
        var stepDirections = '<p class="">'+curStep['description']+'</p>'

        var stepTemp = '';
        if ( curStep['temp'] != null ) { stepTemp = curStep['temp'] };
        var footerTemp = '<small class="pull-left">Goal Temp: '+stepTemp+'</small>'

        var footerBtns = `
        <div class="btn-group btn-group-xs pull-right" role="group" aria-label="...">
        <button type="button" class="btn btn-primary">Add Notes</button>
        </div>
        `
        var stepFooter = '<div class="direction-list-item-footer col-md-12">'+footerTemp+footerBtns+'</div>';
        var endTag = '</div>'
        var newHTML = '<div class="direction-list-item">'+stepHeader+startTag+stepDirections+endTag+stepFooter+'</div>';
        // console.log("Appending: " + newHTML);
        $('#direction-panel-body').append(newHTML);
    }
}

function updatePageTitle(name) {
    console.log("Updating the page header with beer title");
    var pageheader = $('#recipe-name-header');
    pageheader.text(name);
}

function fillInHops(json) {
    console.log("Attempting to fill in hops...");
    var hopTable = $('#hop-list-table');

    // clear out the table before adding new hops
    $('.hop-ingredient-row').remove();

    for (var i = 0; i < json['hops'].length; i++) {
        h = json['hops'][i];
        row = '<tr class="hop-ingredient-row" data-hopid="'+h['hop_id']+'"><td class="hop-name-cell">'+h['name']+'</td><td>'+h['time']+'min</td><td class="hop-need-cell">'+h['quantity']+'oz</td><td class="hop-quantity-cell"></td></tr>';
        hopTable.append(row);
    }

    // fill in need/available columns
    $('.hop-ingredient-row').each(function( event ) {
        var hopName = $(this).children('.hop-name-cell').first().text();
        var hopId = $(this).data('hopid');
        // console.log("Looking up the inventory for " + hopName + ' with ID ' + hopId);

        $.getJSON({
            url: '/api/v1/hop/' + hopId,
        })
          .done(function( json ) {
            //   console.log("Got AJAX data for hop " + json['name']);
              var hopQuant = json['quantity'];
              $('.hop-ingredient-row').each(function( event ) {
                //   console.log("Found another hop row");
                //   console.log("Comparing hopid " + $(this).data('hopid') + " to json " + json['id']);

                  if ( $(this).data('hopid') == json['id'] ) {
                    //   console.log("Found row with matching hopId, updating..");
                      var quantCell = $(this).children('.hop-quantity-cell').first();
                      quantCell.text(hopQuant + 'oz');
                  }
              })
          })
    })

}

function fillInMashbill(json) {
    console.log("Attempting to fill in mashbill...");
    var mashbillTable = $('#mashbill-table');

    // clear out the table before adding new hops
    $('.mashbill-ingredient-row').remove();

    for (var i = 0; i < json['mashbill'].length; i++) {
        h = json['mashbill'][i];
        row = '<tr class="mashbill-ingredient-row" data-fermid="'+h['fermentable_id']+'"><td class="fermentable-name-cell">'+h['name']+'</td><td class="mashbill-need-cell">'+h['quantity']+'lbs</td><td class="mashbill-quantity-cell"></td></tr>';
        mashbillTable.append(row);
    }

    // fill in need/available columns
    $('.mashbill-ingredient-row').each(function( event ) {
        var fermName = $(this).children('.fermentable-name-cell').first().text();
        var fermId = $(this).data('fermid');
        // console.log("Looking up the inventory for " + hopName + ' with ID ' + hopId);

        $.getJSON({
            url: '/api/v1/fermentable/' + fermId,
        })
          .done(function( json ) {
              console.log("Got AJAX data for fermentable " + json['name']);
              var fermQuant = json['quant_available'];
              $('.mashbill-ingredient-row').each(function( event ) {
                //   console.log("Found another hop row");
                //   console.log("Comparing hopid " + $(this).data('hopid') + " to json " + json['id']);

                  if ( $(this).data('fermid') == json['id'] ) {
                    //   console.log("Found row with matching fermId, updating..");
                      var quantCell = $(this).children('.mashbill-quantity-cell').first();
                      quantCell.text(fermQuant + 'lbs');
                  }
              })
          })
    })

}

function fillInAdditives(json) {
    console.log("Attempting to fill in additive table...");
    var additiveTable = $('#additive-table');

    $('.additive-row').remove();

    for (var i = 0; i < json['additives'].length; i++) {
        a = json['additives'][i]
        rowStart = '<tr class="additive-ingredient-row" data-additiveid="'+a['additive_id']+'">';
        rowCells = '<td class="additive-name-cell">' + a['name'] + '</td><td class="additive-need-cell">' + a['quantity'] + '</td><td class="additive-quantity-cell"></td>';
        rowEnd = '</tr>'
        additiveTable.append(rowStart+rowCells+rowEnd);
    }

    // fill in available column
    $('.additive-ingredient-row').each(function( event ) {
        var additiveName = $(this).children('.additive-name-cell').first().text();
        var additiveId = $(this).data('additiveid');

        $.getJSON({
            url: '/api/v1/additive/' + additiveId
        })
          .done(function( json ) {
              console.log("GOt AJAX data for additives...");
              var additiveQuant = json['quant_available'];
              $('.additive-ingredient-row').each(function( event ) {
                  if ( $(this).data('additiveId') == json['id'] ) {
                      var quantCell = $(this).children('.additive-quantity-cell').first();
                      quantCell.text(additiveQuant);
                  }
              })
          })
    })
}

function compareAdditiveInventory() {
    console.log("Comparing recipe requirements for additives vs inventory...");

    // start by getting a list of each unique hop in the list
    var uniqueAdditives = []
    var additiveTotals = []
    $(".additive-ingredient-row").each(function( event ) {
        var additiveName = $(this).children('.additive-name-cell').first().text();
        var additiveId = $(this).data('additiveid');
        if ( !uniqueAdditives.includes(additiveId) ) {
            uniqueAdditives.push(additiveId);
        }
        console.log("Finished collecting unique additives: " + uniqueAdditives)
    })

    // track quantities in JSON objects
    for (var i = 0; i < uniqueAdditives.length; i++) {
        var additive = uniqueAdditives[i];
        var additiveInfo = {
            'name': additive,
            'need': 0,
        };
        $(".additive-ingredient-row").each(function( event ) {
            var curAdditive = $(this).children('.additive-name-cell').first().text();
            if ( additive == $(this).data('additiveid') ) {
                var needQuant = parseFloat( $(this).children('.additive-need-cell').first().text() );
                // console.log("Adding " + needQuant + " to hop " + curHop);
                additiveInfo['need'] += needQuant;
            }
        })
        additiveTotals.push(additiveInfo);
        console.log(additiveTotals);
    }

    // actually compare stock to recipe
    var displayAlert = false;
    $(".additive-ingredient-row").each(function( event ) {
        var additiveId = $(this).data('additiveid');
        console.log(additiveTotals);
        console.log("Checking on additive " + additiveId);

        var additiveObj = additiveTotals.find(function(element) {
            return element.name == additiveId
        });
        console.log("Found that additive " + additiveId + " needs " + additiveObj['need']);

        var additiveHave = parseFloat( $(this).children('.additive-quantity-cell').first().text() );
        console.log("Comparing additiveHave " + additiveHave + " to " + additiveObj['need']);

        if ( additiveObj['need'] > additiveHave ) {
            console.log("Additive " + additiveId + " needs more than are in inventory, marking out");
            $(this).css('text-decoration', 'line-through');
            $(this).css('text-decoration-color', 'red');
            $(this).css('color', 'red');
            displayAlert = true;
        }
    });
    if (displayAlert) {
        showIngredientWarning();
    }
}

function compareHopsInventory() {
    console.log("Comparing recipe requirements for hops vs inventory...");
    // var hopTable = $('#hop-list-table');

    // start by getting a list of each unique hop in the list
    var uniqueHops = []
    var hopTotals = []
    $(".hop-ingredient-row").each(function( event ) {
        var hopName = $(this).children('.hop-name-cell').first().text();
        var hopId = $(this).data('hopid');
        if ( !uniqueHops.includes(hopId) ) {
            uniqueHops.push(hopId);
        }
        console.log("Finished collecting unique hops: " + uniqueHops)
    })

    // track quantities in JSON objects
    for (var i = 0; i < uniqueHops.length; i++) {
        var hop = uniqueHops[i];
        var hopInfo = {
            'name': hop,
            'need': 0,
        };
        $(".hop-ingredient-row").each(function( event ) {
            var curHop = $(this).children('.hop-name-cell').first().text();
            if ( hop == $(this).data('hopid') ) {
                var needQuant = parseFloat( $(this).children('.hop-need-cell').first().text() );
                // console.log("Adding " + needQuant + " to hop " + curHop);
                hopInfo['need'] += needQuant;
            }
        })
        hopTotals.push(hopInfo);
        console.log(hopTotals);
    }

    // actually compare stock to recipe
    var displayAlert = false;
    $(".hop-ingredient-row").each(function( event ) {
        var hopId = $(this).data('hopid');
        console.log(hopTotals);
        console.log("Checking on hop " + hopId);

        var hopObj = hopTotals.find(function(element) {
            return element.name == hopId
        });
        console.log("Found that hop " + hopId + " needs " + hopObj['need']);

        var hopHave = parseFloat( $(this).children('.hop-quantity-cell').first().text() );
        console.log("Comparing hopHave " + hopHave + " to " + hopObj['need']);

        if ( hopObj['need'] > hopHave ) {
            console.log("Hop " + hopId + " needs more hops than are in inventory, marking out");
            $(this).css('text-decoration', 'line-through');
            $(this).css('text-decoration-color', 'red');
            $(this).css('color', 'red');
            displayAlert = true;
        }
    });
    if (displayAlert) {
        showIngredientWarning();
    }
}

function compareMashbillInventory() {
    console.log("Comparing recipe requirements for mashbill vs inventory...");

    // start by getting a list of each unique hop in the list
    var uniqueFermentables = []
    var fermentableTotals = []
    $(".mashbill-ingredient-row").each(function( event ) {
        var fermName = $(this).children('.fermentable-name-cell').first().text();
        var fermId = $(this).data('fermid');
        if ( !uniqueFermentables.includes(fermId) ) {
            uniqueFermentables.push(fermId);
        }
        console.log("Finished collecting unique fermentables: " + uniqueFermentables)
    })

    // track quantities in JSON objects
    for (var i = 0; i < uniqueFermentables.length; i++) {
        var fermentable = uniqueFermentables[i];
        var fermInfo = {
            'name': fermentable,
            'need': 0,
        };
        $(".mashbill-ingredient-row").each(function( event ) {
            var curFerm = $(this).children('.mashbill-name-cell').first().text();
            if ( fermentable == $(this).data('fermid') ) {
                var needQuant = parseFloat( $(this).children('.mashbill-need-cell').first().text() );
                // console.log("Adding " + needQuant + " to hop " + curHop);
                fermInfo['need'] += needQuant;
            }
        })
        fermentableTotals.push(fermInfo);
        console.log(fermentableTotals);
    }

    // actually compare stock to recipe
    var displayAlert = false;
    $(".mashbill-ingredient-row").each(function( event ) {
        var fermId = $(this).data('fermid');
        console.log(fermentableTotals);
        console.log("Checking on fermentable " + fermId);

        var fermObj = fermentableTotals.find(function(element) {
            return element.name == fermId
        });
        console.log("Found that fermentable " + fermId + " needs " + fermObj['need']);

        var fermHave = parseFloat( $(this).children('.mashbill-quantity-cell').first().text() );
        console.log("Comparing fermHave " + fermHave + " to " + fermObj['need']);

        if ( fermObj['need'] > fermHave ) {
            console.log("Fermentable " + fermId + " needs more pounds than are in inventory, marking out");
            $(this).css('text-decoration', 'line-through');
            $(this).css('text-decoration-color', 'red');
            $(this).css('color', 'red');
            displayAlert = true;
        }
    })
    if (displayAlert) {
        showIngredientWarning();
    }
}
/*
* TODO On brew start timers that highlight step and hops separately
* TODO integrate lodash for array work
*/

$(document).ready(function() {

    // check for brew timer on page load
    $.get({
        url: '/api/v1/brewtimer',
        dataType: 'json'
    })
      .done(function(json){
          console.log("Finished checking for timer after page load");
          if ( json['id'] == 0 ) {
              console.log("No timer detected on server");
          } else {
              console.log("Found brew timer in session");
              console.log(json)
              var created_date = new Date(json['created_at']);
              var adjCreatedDate = new Date(created_date.getTime() + 4*60*60*1000);
              var duration = json['duration'];
              var target_date = new Date(json['target_time']);
              var adjTargetDate = new Date(target_date.getTime() + 4*60*60*1000);
              startBrewTimer(adjCreatedDate, json['duration'], adjTargetDate);
          }
      })
});

$('.recipe-name-link').on( 'click', function( event ) {
    var recipe_id = $(this).data('recipeid');
    console.log("User clicked on recipe ID " + recipe_id);

    $.getJSON({
        url: '/api/v1/recipes/'+recipe_id,
    })
      .done(function( json ) {
          console.log("Finished the AJAX request");
          console.log(json);
          updatePageTitle(json['name']);
          fillInHops(json);
          fillInMashbill(json);
          fillInDirections(json['steps']);
          fillInStats(json);
          fillInAdditives(json);
          setTimeout(function() {
              compareHopsInventory();
              compareMashbillInventory();
              compareAdditiveInventory();
          }, 700);

      })
      .fail(function( xhr, status, errorThrown ) {
          alert( "Unable to retrieve recipe!" );
          console.log( "Error: " + errorThrown);
          console.log( "Status: " + status);
          console.dir( xhr );
      })
})

$('#ingredient-warning-dismiss').on( 'click', function( event ){
    event.preventDefault();
    var alertBar = $('#ingredient-warning-alert')
    if ( alertBar.hasClass('hidden') ) {
        console.log('Not adding hidden class to alert bar - already present');
    } else {
        alertBar.addClass('hidden');
    }
})

$('#inputOG').on( 'change', function( event ){
    var og = $(this).val();
    var fg = $('#inputFG').val();
    console.log("Updating ABV from OG")
    $('#inputABV').val(calcABV(og, fg));
})
$('#inputFG').on( 'change', function( event ){
    var fg = $(this).val();
    var og = $('#inputOG').val();
    console.log("Updating ABV from FG")
    $('#inputABV').val(calcABV(og, fg));
})
$('#abv-save-btn').on( 'click', function( event ){
    event.preventDefault();

    var ogCell = $('#recipe-target-og');
    var fgCell = $('#recipe-target-fg');
    var abvCell = $('#recipe-target-abv');

    var newOG = $('#inputOG').val();
    var newFG = $('#inputFG').val();
    var newABV = $('#inputABV').val();
    // console.log("Saving new values: " + newOG +' '+ newFG +' '+newABV);

    ogCell.text($('#inputOG').val());
    fgCell.text($('#inputFG').val());
    abvCell.text($('#inputABV').val());

    $('#abv-modal').modal('hide');
})

$('#brew-start-btn').on( 'click', function( event ){
    console.log("Trying to start brew timer..");
    var recipe_id = $('#recipe-id').text();
    $.post({
        url: '/api/v1/brewtimer',
        data: {'start_brewing': '1',
               'receipe_id': recipe_id },
        dataType: 'json'
    })
      .done(function( json ) {
          console.log("Completed POST to brewday API");
          console.log(json);
          var created_date = new Date(json['created_at']);
          var adjCreatedDate = new Date(created_date.getTime() + 4*60*60*1000);
          var duration = json['duration'];
          var target_date = new Date(json['target_time']);
          var adjTargetDate = new Date(target_date.getTime() + 4*60*60*1000);
          var status = json['status']
          if ( status == 'paused' ) {
              // reflect paused timer  on page
              console.log("Detected paused timer");
          } else {
              console.log("Interpreted: date="+adjCreatedDate+" duration="+duration);
              startBrewTimer(adjCreatedDate, json['duration'], adjTargetDate);
          }

      })
})
</script>
{% endblock %}
