{% extends "layout.html" %}

{% block css %}
<style>
.beer-row {
    margin: 15px;
    display: flex;
}

.fermenter-tile {
    text-align: center;
}

.schedule-tile {
    background-color: lightgreen;
    padding: 5px 5px 5px 5px;
    text-align: center;
}

.schedule-row {
    display: flex;
    flex-direction: row;

}
</style>
{% endblock %}

{% block header %}
<div class="page-header">
    <h1>Manage The Brewery</h1>
</div>
{% endblock %}

{% block content %}
{% for f in fermenters|sort(attribute="size", reverse=True) %}
<div class="row beer-row">
    <div class="col-md-3 fermenter-tile">
        <img src="static/images/fermenter.jpg" width="100px" height="auto">
        <h4>"{{ f.nickname|capitalize }}"</h4>
        <p>{{ f.size }} gallons</p>
    </div>
    <div class="col-md-9 schedule-row">
        <div class="col-md-1 schedule-tile week-1" id="f{{f.id}}-week1">
            <p>Free</p>
        </div>
        <div class="col-md-1 schedule-tile week-2" id="f{{f.id}}-week2">
            <p>Free</p>
        </div>
        <div class="col-md-1 schedule-tile week-3" id="f{{f.id}}-week3">
            <p>Free</p>
        </div>
        <div class="col-md-1 schedule-tile week-4" id="f{{f.id}}-week4">
            <p>Free</p>
        </div>
        <div class="col-md-1 schedule-tile week-5" id="f{{f.id}}-week5">
            <p>Free</p>
        </div>
        <div class="col-md-1 schedule-tile week-6" id="f{{f.id}}-week6">
            <p>Free</p>
        </div>
        <div class="col-md-1 schedule-tile week-7" id="f{{f.id}}-week7">
            <p>Free</p>
        </div>
        <div class="col-md-1 schedule-tile week-8" id="f{{f.id}}-week8">
            <p>Free</p>
        </div>
        <div class="col-md-1 schedule-tile week-9" id="f{{f.id}}-week9">
            <p>Free</p>
        </div>
        <div class="col-md-1 schedule-tile week-10" id="f{{f.id}}-week10">
            <p>Free</p>
        </div>
        <div class="col-md-1 schedule-tile week-11" id="f{{f.id}}-week11">
            <p>Free</p>
        </div>
        <div class="col-md-1 schedule-tile week-12" id="f{{f.id}}-week12">
            <p>Free</p>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}

{% block js %}
{% endblock %}
