{% extends "layout.html" %}

{% block page_title %}
Create A Recipe
{% endblock %}

{% block css %}
<style type="text/css">
.out-of-stock-row {
    color: red;
    text-decoration: line-through;
}

.inventory-list-panel-body {
    max-height: 400px;
    overflow-y: scroll;
}

#control-panel-btn-group {

}

#save-status {
    font-size: 25%;
}
</style>

{% endblock %}

{% block header %}
<div class="page-header">
    <div class="btn-group pull-right" role="group" aria-label="..." id="control-panel-btn-group">
        <div class="btn-group" role="group">
            <button type="button" id="save-recipe-btn" class="btn btn-primary">Save <span class="glyphicon glyphicon-save" aria-hidden="true"></span></button>
        </div>
        {% if load_session_recipe %}
        <div class="btn-group" role="group">
            <a href="" id="save-db-btn" class="btn btn-info">Save to Database <span class="glyphicon glyphicon-save" aria-hidden="true"></span></a>
        </div>
        {% endif %}
        <div class="btn-group" role="group">
            <button type="button" id="clear-recipe-btn" class="btn btn-primary">Clear <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
        </div>
        <div class="btn-group" role="group">
            <a href="{{ url_for('beers.getRecipePDF') }}" class="btn btn-primary">PDF <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a>
        </div>
    </div>
    <h1>Create A Recipe   <small id="save-status"></small></h1>
</div>
{% endblock %}

{% block content %}
<div class="col-md-3">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Hops
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body inventory-list-panel-body">
                    <table class="table">
                        <tr>
                            <th>Name</th>
                            <th>AA</th>
                        </tr>
                        {% for hop in hops %}
                        <tr data-quantity="{{ hop.quantity }}">
                            <td class="inv-hop-name" data-name="{{hop.name}}">{{ hop.name }}</td>
                            <td>{{ hop.aa }}%</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Fermentables
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <th>Name</th>
                            <th>Color</th>
                        </tr>
                        {% for ferm in fermentables %}
                        <tr data-quantity="{{ ferm.quantity }}">
                            <td class="inv-ferm-name" data-name="{{ferm.name}}">{{ ferm.name }}</td>
                            <td>
                                {% if ferm.color != '' %}
                                {{ ferm.color }}&#176L
                                {% else %}
                                N/A
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Yeast
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <th>Name</th>
                            <th>Product</th>
                        </tr>
                        {% for y in yeasts %}
                        <tr data-quantity="{{ y.quantity }}">
                            <td>{{ y.name }}</td>
                            <td>{{ y.product }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Additives
                    </a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <th>Name</th>
                        </tr>
                        {% for a in additives %}
                        <tr data-quantity="{{ a.quant_available }}">
                            <td>{{ a.name }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-9">
    <div class="row">
        <form class="col-md-12">
            <div class="row">
                <div class="input-field col-md-3">
                    <input placeholder="" class="form-control" id="recipe_name" type="text">
                    <label class="control-label" for="recipe_name">Recipe Name</label>
                </div>
                <div class="input-field col-md-3">
                    <input placeholder="" class="form-control" id="recipe_size" type="number">
                    <label class="control-label" for="recipe_size">Batch Size (gallons)</label>
                </div>
                <div class="input-field col-md-3">
                    <select class="form-control" id="recipe_method" class="col-md-12">
                        <option value="method" disabled selected>Mash Method</option>
                        <option value="all-grain">All Grain</option>
                        <option value="biab">BIAB</option>
                        <option value="partial">Partial Mash</option>
                        <option value="extract">Extract</option>
                    </select>
                </div>
                <div class="input-field col-md-3">
                    <select class="form-control" id="recipe_style" class="col-md-12">
                        <option value="" disabled selected>Style</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="input-field col-md-3">
                    <input class="form-control" placeholder="0" id="recipe_og" type="number">
                    <label class="control-label" for="recipe_og">OG</label>
                </div>
                <div class="input-field col-md-3">
                    <input class="form-control" placeholder="0" id="recipe_fg" type="number">
                    <label class="control-label" for="recipe_fg">FG</label>
                </div>
                <div class="input-field col-md-3">
                    <input class="form-control" placeholder="0" id="recipe_ibu" type="number">
                    <label class="control-label" for="recipe_ibu">IBU</label>
                </div>
                <div class="input-field col-md-3">
                    <input class="form-control" placeholder="0" id="recipe_srm" type="number">
                    <label class="control-label" for="recipe_srm">SRM</label>
                </div>
            </div>
        </form>
    </div>
    <hr>
    <div class="col-md-6">
        <h4>Ingredients List</h4>
        <h5>Hops</h5>
        <table class="table table-condensed" id="hops-ingredient-table">
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Time</th>
            </tr>
        </table>
        <h5>Mashbill</h5>
        <table class="table table-condensed" id="ferm-ingredient-table">
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Time</th>
            </tr>
        </table>
    </div>

    <div class="col-md-6">
        <h4>Directions</h4>
        <ol id="direction-list">
            <li class="direction-li"><p>[EXAMPLE] Add 8 gallons of water at 160.2 degrees to MLT to achieve a temperature of 145 degrees<span class="glyphicon glyphicon-trash hidden"></span></p></li>
            <li class="direction-li"><p>[EXAMPLE] Batch sparge after 60 minutes<span class="glyphicon glyphicon-trash hidden"></span></p></li>
            <li id="last-step-li"><a href="#" id="add-step-link">Add next step</a></li>
        </ol>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
function clearRecipe() {
    $('.direction-li').remove();
    $('.hop-ingredient-row').remove();
    $('.ferm-ingredient-row').remove();
    $('#recipe_name').val('');
    $('#recipe_method').val('method');
    $('#recipe_size').val('');
    $('#recipe_og').val('');
    $('#recipe_fg').val('');
    $('#recipe_srm').val('');
    $('#recipe_ibu').val('');
    $.ajax({
        url: '/api/v1/recipe',
        type: 'delete',
        dataType: 'json',
        success: function(data) {
            console.log("Successfully removed recipe information from session");
        }
    })
}

function saveRecipe(commit) {
    /*
    * Items to be collected during saving/clear:
    * - .direction-li
    * - .hop-ingredient-row
    * - .ferm-ingredient-row
    * - #recipe_name
    * - #recipe_size
    * - #recipe_method
    * - #recipe_og
    * - #recipe_fg
    * - #recipe_ibu
    * - #recipe_srm
    */
    // start by updating save status
    $('#save-status').text('Saving...');

    var steps = []
    $('.direction-li p').each(function(){
        var dirText = $(this).remove('span').text();
        steps.push(dirText);
        console.log("Added step to saved recipe: " + dirText);
    })
    // console.log(steps.toString());


    var hops = [];
    $('.hop-ingredient-row').each(function(){
        var newHop = {};
        var hopDetails = $(this).children();
        newHop['name'] = $(this).data('name');
        newHop['amount'] = hopDetails[1].innerText.replace('oz','');
        newHop['time'] = hopDetails[2].innerText.replace('mins','');
        hops.push(newHop);
        console.log("Saved hop addition to recipe: " + newHop);
    })
    // console.log(hops.toString());

    var fermentables = [];
    $('.ferm-ingredient-row').each(function() {
        var newFerm = {};
        var fermDetails = $(this).children();
        newFerm['name'] = fermDetails[0].innerText;
        newFerm['amount'] = fermDetails[1].innerText.replace('lbs','');
        fermentables.push(newFerm);
        console.log("Saved fermentable addition to recipe: " + newFerm);
    })

    var recipeData = {
        'name': $('#recipe_name').val(),
        'size': $('#recipe_size').val(),
        'method': $('#recipe_method').val(),
        'og': $('#recipe_og').val(),
        'fg': $('#recipe_fg').val(),
        'ibu': $('#recipe_ibu').val(),
        'srm': $('#recipe_srm').val(),
        'style': $('#recipe_style').val()
    }
    // console.log("recipeData: " + recipeData);

    // finally submit all information //
    var postData = {
        'hops': hops,
        'steps': steps,
        'mashbill': fermentables,
        'info': recipeData,
        'commit_recipe': commit
    };

    $.ajax({
        url: '/api/v1/recipe/autosave',
        type: 'post',
        // contentType: "application/json; charset=utf-8",
        data: JSON.stringify(postData),
        dataType: 'json',
        success: function(data) {
            console.log("Successfuly sent POST AJAX for recipe: " + data);
        }
    })

    var now = new Date();
    $('#save-status').text('Saved at ' + now.toUTCString());
}

function populateSavedRecipe(data) {
    console.log("Attempting to populate all recipe info from saved info");
    for (var key in data) {
        if ( data.hasOwnProperty(key) ) {
            switch (key) {
                case "info":
                    $('#recipe_name').val(data['info']['name']);
                    $('#recipe_method').val(data['info']['method']);
                    $('#recipe_size').val(data['info']['size']);
                    $('#recipe_ibu').val(data['info']['ibu']);
                    $('#recipe_srm').val(data['info']['srm']);
                    $('#recipe_fg').val(data['info']['fg']);
                    $('#recipe_og').val(data['info']['og']);
                    break;

                case "hops":
                    var hopTable = $("#hops-ingredient-table tbody");
                    for ( var hop in data['hops'] ) {
                        var curHop = data['hops'][hop];
                        // console.log(data['hops'][hop]);
                        var hopRow = `
                        <tr class='hop-ingredient-row' data-name=`+curHop['name']+`>
                            <td>`+curHop['name']+`</td>
                            <td>`+curHop['amount']+`oz</td>
                            <td>`+curHop['time']+`mins</td>
                        </tr>`;
                        hopTable.append(hopRow);
                    }
                    break;

                case "steps":
                    var dirList = $("#direction-list");
                    var addStepListItem = $("#last-step-li");

                    // clear out example steps
                    dirList.empty();
                    // add in saved steps
                    for ( var step in data['steps'] ) {
                        var curStep = data['steps'][step];
                        var newListItem = `
                        <li class="direction-li">
                            <p>`+curStep+`</p>
                        </li>
                        `;
                        dirList.append(newListItem);
                    }
                    // append link
                    dirList.append(addStepListItem);

                    break;

                case "mashbill":
                    var mashbillTable = $("#ferm-ingredient-table tbody");
                    for ( var ferm in data['mashbill'] ) {
                        var curFerm = data['mashbill'][ferm];
                        var fermRow = `
                        <tr class="ferm-ingredient-row" data-name="`+curFerm['name']+`">
                            <td>`+curFerm['name']+`</td>
                            <td>`+curFerm['amount']+`lbs</td>
                            <td></td>
                        </tr>
                        `;
                        mashbillTable.append(fermRow);
                    }
                    break;
            }
        }
    }
}

function loadRecipeFromSession() {

    console.log("Found recipe in session, pulling from API");
    $.ajax({
        url: '/api/v1/recipe/autosave',
        dataType: 'json',
        type: 'get',
        success: function(data) {
            console.log(data);
            populateSavedRecipe(data);

            var now = new Date();
            $('#save-status').text('Loaded at ' + now.toUTCString());
        }
    })
}

function loadRecipeStyles() {
    $.ajax({
        url: '/api/v1/beerstyles',
        type: 'get',
        dataType: 'json',
        success: function(data) {
            console.log("Grabbed all beerstyles!");
            var styleSelect = $("#recipe_style");
            // console.log(data);
            for (var index in data) {
                var curStyle = data[index];
                var newOption = `
                <option value=`+curStyle['name']+`>`+curStyle['name']+`</option>
                `;
                styleSelect.append(newOption);
            }
        }
    })
}

$( document ).ready(function() {

    if ( {{load_session_recipe}} ) {
        console.log('Detected recipe in session, loading..');
        loadRecipeFromSession();
    }

    loadRecipeStyles();

});

$("#save-recipe-btn").on( "click", function( event ) {
    saveRecipe(commit=false);
})

$("#save-db-btn").on( "click", function( event ) {
    saveRecipe(commit=true);
})

$('#clear-recipe-btn').on( "click", function( event ) {
    clearRecipe();
})

$("#add-step-link").on( "click", function( event ) {
    console.log("Adding new step to directions");
    var newStep = "<li class='direction-li'><p>Click to edit me!<span class='glyphicon glyphicon-trash hidden'></span></p></li>";
    $(newStep).insertBefore("#last-step-li");
});

$(".inv-hop-name").on( "click", function( event ) {
    var hopName = $(this).data('name');
    var hopTable = $("#hops-ingredient-table");

    // console.log("Adding " + hopName + " to the ingredients list.");
    var amountInput = '<input type="text" class="form-control quantity-input" placeholder="oz" data-name="'+hopName+'">';
    var timeInput = '<input type="number" class="form-control time-input" placeholder="" data-name="'+hopName+'">';
    var hopRow = "<tr class='hop-ingredient-row' data-name="+hopName+"><td>"+hopName+"</td><td>"+amountInput+"</td><td>"+timeInput+"</td></tr>";

    $(hopTable).append(hopRow);

});

$(".inv-ferm-name").on( "click", function( event ) {
    console.log("Adding fermetable to recipe");
    var fermName = $(this).data('name');
    var mashbillTable = $("#ferm-ingredients-table");

    var amountInput = '<input type="text" class="form-control quantity-input" placeholder="lbs" data-name="'+fermName+'">';
    var timeInput = '<input type="number" class="form-control time-input" placeholder="" data-name="'+fermName+'">';
    var fermRow = "<tr class='ferm-ingredient-row' data-name="+fermName+"><td>"+fermName+"</td><td>"+amountInput+"</td><td>"+timeInput+"</td></tr>";

    mashbillTable.append(fermRow);
})

$(document).on( "focusout", ".quantity-input", function( event ) {
    var amount = $(this).val();
    var name = $(this).data('name');
    var newText = '<p class="quantity-text" data-name="'+name+'">'+amount+"</p>";

    $(this).replaceWith(newText);
});

$(document).on( "click tap", ".quantity-text", function( event ) {
    var amount = $(this).val();
    var name = $(this).data('name');
    console.log("DEBUG: name - " + name);
    var newInput = '<input type="text" class="form-control quantity-input" placeholder="" data-name="'+name+'">';
    $(this).replaceWith(newInput);
})

$(document).on( "focusout", ".time-input", function( event ) {
    var amount = $(this).val();
    if (amount == '') {
        amount = '?';
    }
    var newText = '<p class="time-text">'+amount+"</p>";
    $(this).replaceWith(newText);
});

$(document).on( "click tap", ".time-text", function( event ) {
    var amount = $(this).val();
    var newInput = '<input type="number" class="form-control time-input" placeholder="mins">';
    $(this).replaceWith(newInput);
});

$(document).on( "click tap ", ".direction-li p", function( event ) {
    var dirText = $(this).text();
    var newTextArea = `
        <textarea class="form-control" rows="3" style="background-repeat: repeat; background-image: none; background-position: 0% 0%;">`+dirText+`</textarea>
    `;
    $(this).replaceWith(newTextArea);
});

$(document).on( "focusout", ".direction-li textarea", function( event ) {
    var dirText = $(this).val();
    var newP = '<p>'+dirText+'<span class="glyphicon glyphicon-trash hidden"></span></p>';
    $(this).replaceWith(newP);
});

$(document).on( "mouseover", ".direction-li", function( event ) {
    $(this).children("span").removeClass('hidden');
});

$(document).on( "mouseout", ".direction-li", function( event ) {
    $(this).children("span").addClass('hidden');
});

$(document).on( "click", ".glyphicon-trash", function( event ) {
    $(this).parent("li").remove();
})
</script>
{% endblock %}
