{% extends "layout.html" %}

{% block css %}
{% endblock %}

{% block header %}
<div class="page-header">
    <h1>Sunday Morning Brewing Blog</h1>
</div>
{% endblock %}

{% block content %}
<div class="col-md-9">
<div class="row">
    <h3>{{ post.title }}</h3>
    <p>Created on {{ post.timestamp.strftime('%m/%d/%y at %I:%M%p') }} by {{ post.user }}</p>
    <p>{{ post.content }}</p>
</div>
</div>

<div class="col-md-3">
<h4>Blog History</h4>
<ul class="list-group">
    {% for year in blog_history|sort(reverse=True) %}
    <li class="list-group-item">
        {{ year }}
        <ul>
            {% for month in blog_history[year].keys()|sort() %}
            <li>
                <span class="badge pull-right">{{ blog_history[year][month] }}</span>
                <a href="{{ url_for('blog.archiveMonth', month=month, year=year) }}">{{ month|monthText() }}</a>
            </li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>
</div>
{% endblock %}

{% block js %}
{% endblock %}
