<footer>
    <small>
        <ul class="company">
            <li>© Sunday Morning Brewing, Raleigh, NC</li>
        </ul>

        <ul class="footer-nav">
            {% if current_user and current_user.is_admin %}
            <li><a href="{{ url_for('mgmt.index') }}">Management</a></li>
            <li>
                <a class="navbar-link" href="{{ url_for('user.members') }}">Logged in as {{ current_user.username }}</a>
            </li>
            <li><a class="navbar-link" href="{{ url_for('public.logout') }}"><i class="fa fa-sign-out"></i></a></li>
            {% else %}
            <li><a href="{{ url_for('public.login') }}">Admin Login</a></li>
            {% endif %}
            <li><a href="{{ url_for('public.about') }}">About</a></li>
            <li><a href="mailto:contact@smbrewing.local">Contact Us</a></li>
        </ul>
    </small>
</footer>
