
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav nav-justified">
                <li><a href="{{ url_for('public.about') }}">Who We Are</a></li>
                <li><a href="{{ url_for('blog.index') }}">Blog</a></li>
                <li>
                    <a class="" href="{{ url_for('public.home') }}" id="smb-brand">
                        <i class="fa fa-beer"></i> <span>SMB </span>
                    </a>
                </li>
                <li><a href="{{ url_for('beers.index') }}">Our Beers</a></li>
                <li><a href="">Events</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
</nav>
