{% extends 'mgmt_layout.html' %}
{% import 'admin/lib.html' as lib with context %}
{% from 'admin/lib.html' import extra with context %} {# backward compatible #}

{% block css %}
{{ lib.form_css() }}
{% endblock %}

{% block sidebar %}
{% include "admin_sidebar.html" %}
{% endblock %}

{% block content %}
<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2 id="brand">Edit {{ admin_view.name|capitalize }}</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br>

                    <form action="{{ action or '' }}" method="POST" role="form" class="form-horizontal form-label-left">
                        {% if form.hidden_tag is defined %}
                            {{ form.hidden_tag() }}
                        {% else %}
                            {% if csrf_token %}
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            {% endif %}
                            {% for f in form if f.widget.input_type == 'hidden' %}
                                {{ f }}
                            {% endfor %}
                        {% endif %}

                        {% if form_opts and form_opts.form_rules %}
                            {% for r in form_opts.form_rules %}
                            {{ r(form, form_opts=form_opts) }}
                            {% endfor %}
                        {% else %}
                            {% for f in form if f.widget.input_type != 'hidden' %}
                                {% if form_opts %}
                                    {% set kwargs = form_opts.widget_args.get(f.short_name, {}) %}
                                {% else %}
                                    {% set kwargs = {} %}
                                {% endif %}
                                {% set direct_error = h.is_field_error(f.errors) %}
                                <div class="form-group{{ ' has-error' if direct_error else '' }}">
                                    <label for="{{ f.id }}" class="col-md-2 control-label">{{ f.label.text }}
                                        {% if h.is_required_form_field(f) %}
                                        <strong style="color: red">&#42;</strong>
                                        {%- else -%}
                                        &nbsp;
                                        {%- endif %}
                                    </label>
                                    <div class="{{ kwargs.get('column_class', 'col-md-5') }}">
                                        {% set _dummy = kwargs.setdefault('class', 'form-control') %}
                                        {{ f(**kwargs)|safe }}
                                        {% if f.description %}
                                        <p class="help-block">{{ f.description|safe }}</p>
                                        {% endif %}
                                        {% if direct_error %}
                                        <ul class="help-block input-errors">
                                            {% for e in f.errors if e is string %}
                                            <li>{{ e }}</li>
                                            {% endfor %}
                                        </ul>
                                        {% endif %}
                                    </div>
                                    {% if caller %}
                                    {{ caller(form, f, direct_error, kwargs) }}
                                    {% endif %}
                                </div>
                            {% endfor %}
                        {% endif %}

                      <div class="form-buttons">
                        {{ lib.render_form_buttons(return_url, extra()) }}
                      </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
