{% import 'admin/layout.html' as layout with context -%}

<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="" class="site_title"><i class="fa fa-beer"></i> <span>SMB Database</span></a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <div class="profile clearfix">
            <div class="profile_pic">
                <img src="{{ asset_url_for('img/mugicon.png') }}" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
                <span>Welcome,</span>
                <h2>{{ current_user.full_name }}</h2>
            </div>
            <div class="clearfix"></div>
        </div>
        <!-- /menu profile quick info -->

        <br />

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                {% set menu_root = admin_view.admin.menu() %}

                <ul class="nav side-menu">
                    <li><a><i class="fa fa-home"></i> Navigation <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="{{ url_for('public.home') }}">Public Site</a></li>
                            <li><a href="{{ url_for('mgmt.index') }}">Management Dashboard</a></li>
                            <li><a href="#">Brewery Dashboard</a></li>
                            <li><a href="#">API Dashboard</a></li>
                            <li><a href="{{ url_for('useradmin.index_view') }}">Admin Dashboard</a></li>
                        </ul>
                    </li>
                    {%- for item in menu_root if item.name != 'Home' %}
                        {%- if item.is_category() -%}
                            {% set children = item.get_children() %}
                            {%- if children %}
                                {% set class_name = item.get_class_name() %}
                                {%- if item.is_active(admin_view) %}
                                    <li class="active dropdown">
                                {% else -%}
                                    <li>
                                {%- endif %}
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">
                                          {% if item.class_name %}<span class="{{ item.class_name }}"></span> {% endif %}
                                          {% if 'User' in item.name %}
                                          <i class="fa fa-user"></i> {{ item.name }} <span class="fa fa-chevron-down"></span>
                                          {% elif 'Inventory' in item.name %}
                                          <i class="fa fa-database"></i> {{ item.name }} <span class="fa fa-chevron-down"></span>
                                          {% else %}
                                          <i class="fa fa-sort-desc"></i> {{ item.name }} <span class="fa fa-chevron-down"></span>
                                          {% endif %}
                                        </a>
                                        <ul class="nav child_menu">
                                            {%- for child in children -%}
                                            {% set class_name = child.get_class_name() %}
                                            {%- if child.is_active(admin_view) %}
                                            <li class="active{% if class_name %} {{class_name}}{% endif %}">
                                                {% else %}
                                                <li{% if class_name %} class="{{class_name}}"{% endif %}>
                                                {%- endif %}
                                                <a href="{{ child.get_url() }}"{% if child.target %} target="{{ child.target }}"{% endif %}>{{ child.name }}</a>
                                            </li>
                                            {%- endfor %}
                                        </ul>
                                    </li>
                            {% endif %}
                        {% else %}
                            {%- if item.is_accessible() and item.is_visible() -%}
                            {% set class_name = item.get_class_name() %}
                            {%- if item.is_active(admin_view) %}
                            <li class="{% if class_name %} {{class_name}}{% endif %}">
                                {%- else %}
                                <li{% if class_name %} class="{{class_name}}"{% endif %}>
                                {%- endif %}
                                <a href="{{ item.get_url() }}"{% if item.target %} target="{{ item.target }}"{% endif %}>{{ item.name }}</a>
                            </li>
                            {%- endif -%}
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>

        </div>
        <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
                <a data-toggle="tooltip" data-placement="top" title="Settings">
                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                </a>
                <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                    <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                </a>
                <a data-toggle="tooltip" data-placement="top" title="Lock">
                    <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                </a>
                <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                    <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                </a>
            </div>
            <!-- /menu footer buttons -->
        </div>
    </div>
