{% extends "mgmt_layout.html" %}

{% block content %}
<div class="right_col" role="main">
    <div class="col-md-6 col-sm-4 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Blog Posts</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Settings 1</a>
                        </li>
                        <li><a href="#">Settings 2</a>
                        </li>
                    </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="dashboard-widget-content">
                <ul class="list-unstyled timeline widget">
                    {% for post in posts %}
                    <li>
                        <div class="block">
                            <div class="block_content">
                                <h2 class="title">
                                    <a>{{ post.title }}</a>
                                </h2>
                                <div class="byline">
                                    <span>13 hours ago</span> by <a>{{ post.user.full_name }}</a>
                                </div>
                                <p class="excerpt">{{ post.content[:82] }}</p>
                                <p><b>Published: </b>{{ post.published }}</p>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                    <li>
                        <div class="block">
                            <div class="block_content">
                                <h2 class="title">
                                    <a>Who Needs Sundance When You’ve Got&nbsp;Crowdfunding?</a>
                                </h2>
                                <div class="byline">
                                    <span>13 hours ago</span> by <a>Jane Smith</a>
                                </div>
                                <p class="excerpt">Film festivals used to be do-or-die moments for movie makers. They were where you met the producers that could fund your project, and if the buyers liked your flick, they’d pay to Fast-forward and… <a>Read&nbsp;More</a>
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
