<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="index.html" class="site_title"><i class="fa fa-beer"></i> <span>SMB</span></a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <div class="profile clearfix">
            <div class="profile_pic">
                <img src="{{ asset_url_for('img/mugicon.png') }}" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
                <span>Welcome,</span>
                <h2>{{ current_user.full_name }}</h2>
            </div>
            <div class="clearfix"></div>
        </div>
        <!-- /menu profile quick info -->

        <br />

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <h3>Navigation</h3>
                <ul class="nav side-menu">
                    <li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="{{ url_for('public.home') }}">Public Site</a></li>
                            <li><a href="{{ url_for('mgmt.index') }}">Management Dashboard</a></li>
                            <li><a href="{{ url_for('brewery.index') }}">Brewery Dashboard</a></li>
                            <li><a href="#">API Dashboard</a></li>
                            <li><a href="{{ url_for('useradmin.index_view') }}">Admin Dashboard</a></li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-file-text"></i> Blog <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="{{ url_for('mgmt.new_post') }}">Create Post</a></li>
                            <li><a href="{{ url_for('mgmt.blog_archive') }}">Archive</a></li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-calendar"></i> Meetings <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="{{ url_for('mgmt.calendar') }}">Calendar</a></li>
                            <li><a href="{{ url_for('mgmt.minutes') }}">Minutes</a></li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-history"></i> Activity <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="general_elements.html">Overview</a></li>
                            <li><a href="media_gallery.html">Time Spent</a></li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-usd"></i> Accounting <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="tables.html">Tables</a></li>
                            <li><a href="tables_dynamic.html">Table Dynamic</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
        <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
                <a data-toggle="tooltip" data-placement="top" title="Settings">
                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                </a>
                <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                    <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                </a>
                <a data-toggle="tooltip" data-placement="top" title="Lock">
                    <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                </a>
                <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                    <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                </a>
            </div>
            <!-- /menu footer buttons -->
        </div>
    </div>
