{% extends "mgmt_layout.html" %}

{% block css %}
<style>
.meeting-content {
    min-height: 500px;
}
</style>
{% endblock %}

{% block content %}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Management Dashboard</h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Meeting Minutes</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Settings 1</a>
                                    </li>
                                    <li><a href="#">Settings 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">
                        <div class="row">

                            <div class="col-sm-3 mail_list_column">
                                <button id="compose" class="btn btn-sm btn-success btn-block" type="button">New Meeting</button>
                                <ul class="nav nav-pills nav-stacked">
                                {% for meeting in meetings %}
                                <li>
                                    <a href="#meeting-{{meeting.id}}-content" data-toggle="tab">
                                        <div class="mail_list">
                                            <div class="left">
                                                <i class="fa fa-edit"></i>
                                            </div>
                                            <div class="right">
                                                <h3>{{ meeting.date.strftime('%m-%d-%Y') }} </h3>
                                                <p>{{ meeting.location }}</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                {% endfor %}
                            </div>
                            <!-- /MAIL LIST -->

                            <!-- CONTENT MAIL -->
                            <div class="col-sm-9 mail_view">
                                <div class="tab-content">
                                    {% for m in meetings %}
                                    <div role="tabpanel" class="meeting-content tab-pane fade {% if loop.first %}in active{% endif %}" id="meeting-{{ m.id }}-content">
                                        <div class="mail_heading row">
                                            <div class="col-md-6">
                                                <div class="btn-group">
                                                    <button class="btn btn-sm btn-default" type="button" data-placement="top" data-toggle="tooltip" data-original-title="Forward"><i class="fa fa-share"></i></button>
                                                    <button class="btn btn-sm btn-default" type="button" data-placement="top" data-toggle="tooltip" data-original-title="Print"><i class="fa fa-print"></i></button>
                                                    <button class="btn btn-sm btn-default" type="button" data-placement="top" data-toggle="tooltip" data-original-title="Trash"><i class="fa fa-trash-o"></i></button>
                                                </div>
                                            </div>
                                            <div class="col-md-6 text-right">
                                                <p class="date" id="minutes-view-date">{{ m.date.strftime('%m-%d-%Y') }}</p>
                                            </div>
                                            <div class="col-md-12">
                                                <h4 id="minutes-view-location"> {{ m.location }}</h4>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <strong>Meeting Notes:</strong>
                                            </div>
                                        </div>
                                        <div class="view-meeting-notes">
                                            <ul>
                                            {% for note in m.notes %}
                                                <li>{{ note.text }}</li>
                                            {% endfor %}
                                            </ul>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <strong>Attendees:</strong>
                                            </div>
                                        </div>
                                        <div class="view-meeting-attendees">
                                            <ul>
                                            {% for person in m.attendees %}
                                                <li>{{ person.user }}</li>
                                            {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% endblock %}
