<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">

    <title>
        {% block title %}
        {% if admin_view %}
            {% if admin_view.category %}
            {{ admin_view.category }} -
            {% endif %}
            {{ admin_view.name }} - {{ admin_view.admin.name }}
        {% else %}
            SMB Management Dashboard
        {% endif %}
        {% endblock %}
    </title>
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="author" content="{% block meta_author %}{% endblock %}">

    <!-- Mobile viewport optimized: h5bp.com/viewport -->
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="{{ asset_url_for('mgmt_css.css') }}">
    {% block css %}{% endblock %}
</head>
<body class="{% block body_class %}nav-md{% endblock %}">
    {% block body %}

    <div class="{% block content_class %}container body{% endblock content_class %}">
        <div class="main_container">
            {% block sidebar %}
            {% include "mgmt_sidebar.html" %}
            {% endblock %}

            {% include "mgmt_topnav.html" %}
            <!-- page content -->
            {% block content %} {% endblock %}
            <!-- /page content -->
            <!-- footer -->
            {% include "mgmt_footer.html" %}
            <!-- /footer -->
        </div>
    </div>


    <script type="text/javascript" src="{{ asset_url_for('mgmt_js.js') }}"></script>

    {% block js %}{% endblock %}
    <!-- end scripts -->
    {% endblock %}
</body>
</html>
