<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="index.html" class="site_title"><i class="fa fa-beer"></i> <span>SMB</span></a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <div class="profile clearfix">
            <div class="profile_pic">
                <img src="{{ asset_url_for('img/mugicon.png') }}" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
                <span>Welcome,</span>
                <h2>{{ current_user.full_name }}</h2>
            </div>
            <div class="clearfix"></div>
        </div>
        <!-- /menu profile quick info -->

        <br />

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <h3>Navigation</h3>
                <ul class="nav side-menu">
                    <li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="{{ url_for('public.home') }}">Public Site</a></li>
                            <li><a href="{{ url_for('mgmt.index') }}">Management Dashboard</a></li>
                            <li><a href="{{ url_for('brewery.index') }}">Brewery Dashboard</a></li>
                            <li><a href="#">API Dashboard</a></li>
                            <li><a href="{{ url_for('useradmin.index_view') }}">Admin Dashboard</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{ url_for('brewery.recipes') }}"><i class="fa fa-file-text"></i> Recipes</a>
                    </li>

                    <li>
                        <a href="{{ url_for('brewery.newrecipe') }}"><i class="fa fa-beer"></i> New Recipe</a>
                    </li>
                    <li>
                        <a href="{{ url_for('brewery.beers') }}"><i class="fa fa-beer"></i> Beers</a>
                    </li>
                </ul>
            </div>

        </div>
        <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
                <a data-toggle="tooltip" data-placement="top" title="Settings">
                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                </a>
                <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                    <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                </a>
                <a data-toggle="tooltip" data-placement="top" title="Lock">
                    <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                </a>
                <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                    <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                </a>
            </div>
            <!-- /menu footer buttons -->
        </div>
    </div>
