{% extends "brewery_layout.html" %}

{% block content %}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Recipes</h3>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Recipe List</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Settings 1</a>
                                </li>
                                <li><a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <p>Simple table with project listing with progress and editing options</p>

                    <!-- start project list -->
                    <table class="table table-striped projects">
                        <thead>
                            <tr>
                                <th style="width: 1%">#</th>
                                <th style="width: 20%">Recipe Name</th>
                                <th>OG</th>
                                <th>FG</th>
                                <th>IBU</th>
                                <th>SRM</th>
                                <th>ABV</th>
                                <th style="width: 20%">Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if recipes|length > 0 %}
                            {% for recipe in recipes %}
                            <tr>
                                <td>#</td>
                                <td>
                                    <a>{{ recipe.name }}</a>
                                    <br>
                                    <small>{{ recipe.style_name }}</small>
                                </td>
                                <td>
                                    {{ recipe.target_og }}
                                    <br>
                                    <small>OG</small>
                                </td>
                                <td>
                                    {{ recipe.target_fg }}
                                    <br>
                                    <small>FG</small>
                                </td>
                                <td>
                                    {{ recipe.target_ibu }}
                                    <br>
                                    <small>IBU</small>
                                </td>
                                <td>
                                    {{ recipe.target_srm }}
                                    <br>
                                    <small>SRM</small>
                                </td>
                                <td>
                                    {{ recipe.target_abv }}
                                    <br>
                                    <small>ABV</small>
                                </td>
                                <td>
                                    <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                                    <a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                                    <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
                                </td>
                            </tr>
                            {% endfor %}
                            {% else %}

                            {% endif %}
                        </tbody>
                    </table>
                    <!-- end project list -->

                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}
