{% extends "brewery_layout.html" %}

{% block content %}
<div class="right_col" role="main">
    <div class="row">
        <div class="page-title">
            <div class="title_left">
                <h3>Beer</h3>
            </div>
        </div>
    </div>


    <div class="col-md-3">
        <div class="x_panel">

            <div class="x_title">
                <h2>Ingredients</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="form-group">
                    <label class="col-sm-12 control-label">Hops</label>

                    <div class="col-sm-12">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary" id="btn-add-hop">Add</button>
                            </span>
                            <select class="form-control" id="select-hop-ingredient">
                                {% for h in hops %}
                                <option value="{{h.name}}" data-aa="{{h.aa}}">{{ h.name }} ({{ h.aa }}% AA)</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-12 control-label">Fermentables</label>

                    <div class="col-sm-12">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary" id="btn-add-fermentable">Add</button>
                            </span>
                            <select class="form-control" id="select-fermentable-ingredient">
                                {% for f in fermentables %}
                                <option data-name="{{f.name}}" data-id="{{f.id}}" value="{{f.name}}">{{ f.name }} ({{ f.color }} SRM)</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-12 control-label">Additives</label>

                    <div class="col-sm-12">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary">Add</button>
                            </span>
                            <select class="form-control">
                                {% for a in additives %}
                                <option>{{ a.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-12 control-label">Yeast</label>

                    <div class="col-sm-12">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary" id="btn-add-yeast">Add</button>
                            </span>
                            <select class="form-control" id="select-yeast-ingredient">
                                {% for y in yeasts %}
                                <option value="{{y.name}}" data-form={{y.form}}>{{ y.name }} {{ y.product }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="col-md-6">
        <div class="x_panel">
            <div class="x_title">
                <h2>Recipe</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <h4>Mashbill</h4>
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                          <th>Name</th>
                          <th>Amount</th>
                        </tr>
                      </thead>
                    <tbody id="mashbill-table-body">

                      </tbody>
                </table>
                <h4>Hop Schedule</h4>
                <table class="table table-hover table-condensed">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>AA</th>
                          <th>Quantity</th>
                          <th>Time</th>
                          <th>IBUs</th>
                          <th>Dry Hop</th>
                        </tr>
                      </thead>
                      <tbody id="hop-schedule-table-body">

                      </tbody>
                    </table>
            </div>
        </div>
    </div>



    <div class="col-md-3 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Recipe Details</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a>
                            </li>
                            <li><a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>
                <form class="form-horizontal form-label-left">

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Name</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" class="form-control" placeholder="Name">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Style</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <select class="form-control">
                                {% for s in styles %}
                                <option>{{ s.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-5 col-sm-3 col-xs-12">Batch Size</label>
                        <div class="col-md-7 col-sm-9 col-xs-12">
                            <input type="text" class="form-control" id="input-batch-size" placeholder="Gallons">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-5 col-sm-3 col-xs-12">Boil Time</label>
                        <div class="col-md-7 col-sm-9 col-xs-12">
                            <input type="text" class="form-control" id="input-boil-time" placeholder="Minutes">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">OG</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" class="form-control" id="input-og" placeholder="Gravity">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">FG</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" class="form-control" id="input-fg" placeholder="Gravity">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">IBU</label>
                        <div class="col-md-5 col-sm-9 col-xs-12">
                            <input type="text" class="form-control" placeholder="IBU">
                        </div>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary">Calc</button>
                        </span>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">SRM</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" class="form-control" placeholder="SRM">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">ABV</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" class="form-control" disabled="disabled" placeholder="ABV" id="input-abv">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Yeast</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" class="form-control" disabled="disabled" placeholder="Yeast Name" id="input-yeast-name">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-6 col-sm-3 col-xs-12">Yeast Form</label>
                        <div class="col-md-6 col-sm-9 col-xs-12">
                            <input type="text" class="form-control" disabled="disabled" placeholder="Yeast Form" id="input-yeast-form">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Mash Steps</h2>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-12 col-sm-3 col-xs-12">Stage Count</label>
                            <div class="col-md-12 col-sm-9 col-xs-12">
                                <select class="form-control" id="select-stage-count">
                                    <option>Single Stage</option>
                                    <option>Three Stage</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-12 col-sm-3 col-xs-12">Grain Temp</label>
                            <div class="col-md-12 col-sm-9 col-xs-12">
                                <input type="number" class="form-control" placeholder="70" id="input-grain-temp">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-12 col-sm-3 col-xs-12">Water:Grain Ratio</label>
                            <div class="col-md-12 col-sm-9 col-xs-12">
                                <input type="number" class="form-control" placeholder="qt/lbs" id="input-mash-ratio">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-12 col-sm-3 col-xs-12">Target Mash Temp</label>
                            <div class="col-md-12 col-sm-9 col-xs-12">
                                <input type="number" class="form-control" placeholder="154 degrees" id="input-target-temp">
                            </div>
                        </div>

                        <btn class="btn btn-primary col-md-12" id="btn-mash-steps">Calculate</btn>
                    </div>

                    <div class="col-md-8" id="mash-step-container">
                        <ol id="mash-step-list">
                        </ol>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>

{% endblock %}

{% block js %}
<script>

$('#hop-schedule-table-body').on('rowUpdated', function(event){
    /*
    * Inspired by http://www.realbeer.com/hops/bcalc_js.html
    */
    console.log("Detected change to hop schedule, attempting to calc IBU");
    var og = parseFloat( $('#input-og').val() );
    var fg = parseFloat( $('#input-fg').val() );
    if ( og > 0 && fg > 0 ) {
        var avg_gravity = (og + fg)/2;
        // console.log("Avg gravity: " + avg_gravity);
        console.log("Not using avg_gravity - using OG instead");
        $('.hop-table-row').each(function(){
            var aa = $(this).data('aa');
            console.log("Found aa of " + aa);
            var quantity = $(this).find('.hop-cell-text')[0].textContent;
            var time = $(this).find('.hop-cell-text')[1].textContent;
            console.log("Found quantity/time: " + quantity + "/" + time);
            var btf = (1 - Math.exp(-0.04 * time))/4.15;
            console.log("Found btf of " + btf.toString());
            var bigness = 1.65 * Math.pow(0.000125, (og-1));
            console.log("Found bigness of " + bigness);
            var aaUtil = btf * bigness;
            console.log("Found decimal AA utilization of " + aaUtil);
            var addedaa = ((aa/100)*quantity*7490)/ parseFloat( $('#input-batch-size').val() );
            console.log("Found mg/l added AA of "+ addedaa);
            var ibu = aaUtil * addedaa;
            console.log("Found IBU of " + ibu + ' from a single hop addition');
            $(this).find('.hop-row-ibu').first().text(Math.round(ibu));
        })
    }
});

$('#btn-add-fermentable').on('click', function( event ) {
    var table = $('#mashbill-table-body');
    var newFermentable = $('#select-fermentable-ingredient').val();
    console.log("Adding " + newFermentable + " to mashbill ");
    var row = `
    <tr class="fermentable-table-row">
        <td>`+newFermentable+`</td>
        <td>
            <input type="number" class="fermtable-table-input" col-md-6>lbs
        </td>
    </tr>
    `;
    table.append(row);
})

$('#btn-add-hop').on('click', function( event ) {
    var table = $('#hop-schedule-table-body');
    var newHop = $('#select-hop-ingredient').val();
    var newAA = $('#select-hop-ingredient').children('option:selected').data('aa')
    console.log("Adding " + newHop + " to schedule ");
    var row = `
    <tr class="hop-table-row" data-name="`+newHop+`" data-aa="`+newAA+`">
        <td>`+newHop+`</td>
        <td>`+newAA+`%</td>
        <td>
            <input type="number" class="hop-table-input hop-amount-cell col-md-6" placeholder="oz">
        </td>
        <td>
            <input type="number" class="hop-table-input hop-time-cell col-md-6" placeholders="minutes">
        </td>
        <td class="hop-row-ibu">

        </td>
        <td>
            <input type="checkbox">
        </td>
    </tr>
    `;
    table.append(row);
})

$(document).on( "focusout", ".hop-table-input", function( event ){
    var val = $(this).val();
    var parent = $(this).parent();
    parent.empty();
    parent.html("<p class='hop-cell-text'>"+val+"</p>");
    $('#hop-schedule-table-body').trigger('rowUpdated');
});

$(document).on( "focusout", ".fermentable-table-input", function( event ){
    var val = $(this).val();
    var parent = $(this).parent();
    parent.empty();
    parent.html("<p class='fermentable-cell-text'>"+val+"</p>");
});

$(document).on( "click", ".hop-cell-text", function( event ){
    var val = $(this).text();
    var parent = $(this).parent();
    parent.empty();
    parent.html("<input type='number' class='hop-table-input col-md-6' value="+val+">");
});

$(document).on( "click", ".fermentable-cell-text", function( event ){
    var val = $(this).text();
    var parent = $(this).parent();
    parent.empty();
    parent.html("<input type='number' class='fermentable-table-input col-md-6' value="+val+">");
});

$('#btn-add-yeast').on('click', function(event){
    var val = $('#select-yeast-ingredient').val();
    var form = $('#select-yeast-ingredient').find(':selected').data('form')
    $('#input-yeast-name').val(val);
    $('#input-yeast-form').val(form);
})

$('#input-fg').on('change', function( event ){
    if ( $('#input-og').val() != null ) {
        var og = parseFloat( $('#input-og').val() );
        var fg = parseFloat( $('#input-fg').val() );
        console.log("Calculating abv with OG / FG: "+ og.toString() + " / " + fg.toString());
        var abv = ((og - fg)*131.25).toPrecision(3);
        $('#input-abv').val(abv+"%");
    }
})
$('#btn-mash-steps').on('click', function( event ){
    $('#mash-step-list').empty();
    $('.mash-step-warning').remove();

    if ( $('#select-stage-count').val() != 'Single Stage' ) {
        var g = $('#input-batch-size').val();
        var t1 = parseFloat( $('#input-grain-temp').val() );
        var t2 = parseFloat( $('#input-target-temp').val() );
        $("<p class='mash-step-warning'>Assuming 3-stage mash at 104 / 140 / "+t2.toString()+"</p>").insertBefore('#mash-step-list');
        var r = parseFloat( $('#input-mash-ratio').val() );
        var wm = r * g;
        var tw = (.2/r)*(104 - t1)+t2;
        var step = "<li>Heat "+ wm.toString() + " quarts of strike water to "+tw.toString()+" degrees and add to mash tun</li>";
        $('#mash-step-list').append(step);


        var wa = (140 - 104)*((.2 * g) + wm)/(210 - 140);
        var step = "<li>Add " + wa.toFixed(2).toString() + " quarts of (boiling) water to mash tun to raise overall temp to 140 degrees</li>";
        $('#mash-step-list').append(step);

        // final steps
        var wm = wm + wa;
        var wa = (t2 - 140)*((.2 * g) + wm)/(210 - t2);
        var step = "<li>Add " + wa.toFixed(2).toString() + " quarts of (boiling) water to mash tun to raise overall temp to "+t2.toString()+" degrees</li>";
        $('#mash-step-list').append(step);

    } else {

        var g = $('#input-batch-size').val();
        var t1 = parseFloat( $('#input-grain-temp').val() );
        var t2 = parseFloat( $('#input-target-temp').val() );
        var r = parseFloat( $('#input-mash-ratio').val() );
        var wm = r * g;
        var tw = (.2/r)*(t2 - t1)+t2;
        var step = "<li>Heat "+ wm.toString() + " quarts of strike water to "+tw.toString()+" degrees and add to mash tun</li>";
        $('#mash-step-list').append(step);
    }
})
</script>
{% endblock %}
